<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>User Portal</title>
</head>

<body>
<h1>
    account
</h1>
<table>
    <tr>
        <th>이름</th>
        <th>로그인ID</th>
        <th>이메일</th>
    </tr>

    <tr>
        <td th:text="${userVo.name}"></td>
        <td th:text="${userVo.id}"></td>
        <td th:text="${userVo.email}"></td>
    </tr>
</table>

<br>
<a th:href="@{/authorize}" id="authorize">login</a>
<a th:href="@{/service}" id="service">service</a>
<a th:href="@{/support}" id="support">support</a>
<a th:href="@{/myaccount}" id="myaccount">myaccount</a>

</body>
</html>